<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{title}}</title>
  </head>
  <body>
    <h1>Chat</h1>
    <div id="messages">
      {{#each messages}}
        <div>
          <p>{{this.name}}</p>
          <p>{{this.email}}</p>
          <p>{{this.message}}</p>
          <p>{{this.date}}</p>
        </div>
      {{/each}}
    </div>
    <form method="POST" action="/api/chat">

      <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required />
      </div>
      <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required />
      </div>
      <div>
        <label for="message">Message:</label>
        <textarea id="message" name="message" required></textarea>
      </div>
      <button type="submit">Send</button>
    </form>
  </body>
</html>